<section class="main-client" ng-controller="DownCtrl">
  <div class="row">
    <section class="splash-client" >
      <div class="row">
        <div class="col-md-1 col-md-offset-5">
          <div class="button-box">
            <a class="back-link" href="#"><h2 class="more-button">Back</h2></a>
          </div>
        </div>
      </div>

      <div class="casestudy-header" id="top">
        <h1 class="casestudy-title">Modern Love Club</h1>
        <h2 class="casestudy-subtitle">Matchmaking for Extraordinary People</h2>
      </div>

      <div class="row casestudy">
        <div class="col-md-10 col-md-offset-1">
          <a href="http://modernloveclub.com/" target="_blank">
          <img class="site-img" ng-src="images/mlc.png" alt="Amy Rocks Your Face Off" />
        </div>
      </div>

      <div class="row" >
        <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 col-xs-1 col-xs-offset-5">
          <div class="button-box">
            <a ng-click="gotoBottom()">
              <h1 class="more-button">More</h1>
              <i class="fa fa-chevron-circle-down direction-arrow fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>


<section class= "description-client" id="bottom">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h1 class="project-words bumper">Here's What Happened.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h1 class="case-study-title">The Setup</h1>
      <p class="case-study-paragraph">Amy Van Doran, founder of Modern Love Club, is a New York City based matchmaker who cares deeply about her clients’ love lives.  When I met Amy, she had a simple handmade site, which did not convey the level of personalized attention that she gives to her clientele, nor did it list all of the services available.</p>
      <p class="case-study-paragraph">Modern Love Club was my first project,  and I’ve had an ongoing, lovely (code based) relationship with Amy and her site for the last two years. I initally approached her and her branding team to build a new site that would showcase her and her talents, recognizing that Amy was an amazing matchmaker and had a really unique product- and I wanted to try building a site from start to finish. </p>
    </div>

    <div class="col-md-4">
      <h1 class="case-study-title">The Plan Of Attack</h1>
      <p class="case-study-paragraph"> After consulting with Amy and her team, we decided that the best route was to introduce Amy to the public was all she needed, the administrative parts would be handled both offline and with different programs that she had subscribed to (such as MMpro, a matchmaking tool).  So we decided to build a static site and incorporating the MMpro software properly.</p>
      <p class="case-study-paragraph">The second time that I worked with Amy to rebuild her site, we decided to keep the site client side only as well, as services such as You Can Book Me and MMpro were effectively handling scheduling and matchmaking needs.</p>

    </div>

    <div class="col-md-4">
      <h1 class="case-study-title">The Solution</h1>
      <p class="case-study-paragraph">The first time I made a website for Amy (<a class="old-site" href="http://ninjaofawesome.github.io/old_amy_van_doran/">seen here</a>), I used Foundation 3 to handle responsive aspects of the site and plugged in the MMPro widget for form submissions.  At the time, it was an impressive feat for me, and I maintained it (with little refactoring) for the next year and change.  A great starter project, as shown if the code is inspected.</p>

      <p class="case-study-paragraph">When I rebuilt the Modern Love Club site  for Amy a few months ago, I approached it much differently.  On this build I decided to make the code more developer friendly through best practices, CSS partials and easy to read jQuery scripts.  I also stored it all on Github, and used a Github Page as a “staging server” to keep Amy’s team abreast of my progress with the rebuild throughout.</p>
    </div>
  </div>
  <div class="row" ng-controller="UpCtrl">
    <div class="button-box bottom-box">
      <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 col-xs-1 col-xs-offset-5">
        <a ng-click="gotoTop()">
          <!-- <h1 class="more-button">Less</h1> -->
          <i class="fa fa-chevron-circle-up direction-arrow fa-2x"></i>
        </a>
        <a href="#"><h3 class="more-button bottom">Back</h3></a>
      </div>
    </div>
  </div>

</section>

