<div class="body-content">

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <img class="my-face" src="images/hannahface.png" alt="hannah nordgren" />
  </div>

  <div class="col-md-6">
    <div class="word-box">
      <h1 class="title">I'm Hannah Nordgren.</h1>
      <h2 class="subtitle">I make beautiful things for interesting people.</h2>

      <div class="cta" ng-controller="MidCtrl">
        <h1 class="cta-intro">I also wear many hats. <a class="cta-link" ng-click="gotoCenter()">Like These.</a></h1>
      </div>

    </div>
  </div>

</div>

<div class="roles-content">


<div class="row">
  <div class="col-md-3" >
    <div class="photo-box"></div>

  </div>
  <div class="col-md-9" id="center">
    <div class="words-box" >
      <h1 class="role-title">I'm a Developer.</h1>
      <p>I am a front end developer.  I've worked with JavaScript, Angular, Ember, Object Oriented CSS (and Sass!), Compass, Bourbon, Neat and Bitters to make applications sparkle. I particularly enjoy working with Client Side Frameworks and Responsive Design,  coded so that other developers can dissect it easily in the future.</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-3 visible-xs visible-sm">
    <div class="photo-box designer "></div>
  </div>

  <div class="col-md-9">
    <div class="words-box">
     <h1 class="role-title">I'm a Designer.</h1>
     <p>I enjoy aesthetics and user experience equally as much as making the software work.  Prior to becoming a developer I was both a technical designer in the fashion industry and a hairdresser, so with my background in design and beauty I offer a unique perspective on software development.</p>
    </div>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="photo-box designer "></div>
  </div>

</div>

<div class="row">
  <div class="col-md-3">
    <div class="photo-box learner"></div>

  </div>
  <div class="col-md-9">
    <div class="words-box">
       <h1 class="role-title">I'm a Constant Learner</h1>
      <p>I knew that being a developer was my dream job when I would come home from a full day of work to try out new frameworks and libraries on my own personal projects.  I enjoy strengthening my skills by trying new things, blogging about what I'm working on and tutoring others.</p>
    </div>
  </div>
</div>


  <div class="row" ng-controller="DownCtrl">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-cta">That's pretty cool.  <a class="cta-link contact" ng-click="gotoBottom()">Let's check out the goods.</a></h1>
    </div>
  </div>

</div>

<div class="examples-content">
  <div class="row">
    <h1 class="examples-title" id="bottom">Sure Thing.</h1>
    <h2 class="examples-subtitle">Here's a few examples of work I've done.</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="avd">
      </div>
      <a href="#/amy"><div class="work-box amy"></div></a>
    </div>

    <div class="col-md-3">
      <div class="cinnalott">
      </div>
       <a href="#/cinna"><div class="work-box cinna"></div></a>
    </div>

    <div class="col-md-3">
      <div class="old-fashioned">
      </div>
      <a href="#/oldfashioned"><div class="work-box oldfashioned"></div></a>
    </div>

    <div class="col-md-3">
      <div class="techway">
      </div>
       <a href="#/techway"><div class="work-box techway"></div></a>
    </div>
  </div>

  <div class="row">
    <div class="professional-background">
      <h2 class="pro-back">...and my background.</h2>
      <h3 class="whisper">(<a class="whisper-link" href ="http://www.linkedin.com/in/hannahnordgren", target="_blank">Get the fine print here.</a>)</h3>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="contact-cta" ng-controller="ContactCtrl">
        <h1><a class="contact-me" ng-click="gotoContact()">Want More?</a></h1>
      </div>
    </div>
  </div>

</div> <!-- closes case studies

 -->
<div class="contact-box">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="examples-title contact">You + Me = Coffee.</h1>
      <h1 class="examples-subtitle contact-sub">Get In Touch, I'll Buy The First Round.</h1>

      <div class="row">
        <ul class="contact-methods" id="contact">
          <li class="hi-there"><h1 class="contact-hi">Email:</h1> <a class="contact-link" href="mailto:hey@hereshannahs.info?subject=I-love-coffee!" target="_blank">hey@hereshannahs.info</a></li>
          <li class="hi-there"><h1 class="contact-hi">Twitter:</h1> <a class="contact-link" href="https://twitter.com/hnsayshello" target="_blank">@hnsayshello</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>